<div class="card list" style="width:95%; max-width:60rem;">
   <div class="card-body recipe-header">
         <h1 class="recipe-title">{{recipe.title}}</h1>
         <h6 class="recipe-author"><a href="/author/{{recipe.author_id}}">{{recipe.author_name}}</a>{{#if recipe.date}} - {{recipe.date}}{{/if}}</h6>
         <div class="recipe-info text-center">
            <h6 class="flex-fill">Prep Time: {{recipe.prep_time}}</h6>
            <h6 class="flex-fill">Cook Time: {{recipe.cook_time}}</h6>
            <h6 class="flex-fill">Serves: {{recipe.yield}}</h6>
            <h6 class="flex-fill">Source: <a href="{{recipe.url}}">{{recipe.site_title}}</a></h6>
         </div>
   </div>
   <h3 class="section-header">Ingredients</h3>
   <ul class="list-group list-group-flush recipe-body">

      {{#each ingredient}}
         <li class="list-group-item recipe-ingredient">
            <p>{{size}} {{unit}} <a href="/ingredient/{{ingredient_id}}">{{name}}</p>
         </li>
      {{/each}}
   </ul>
   <h3 class="section-header">Instructions</h3>
   <ul class="list-group list-group-flush recipe-body">
      {{#each instruction}}
         <li class="list-group-item recipe-instruction">
            <p>{{step}}. {{text}}</p>
         </li>
      {{/each}}
   </ul>
</div>
